.orange{
    background-color: orange;
     
}
.rad{
    background-color: red;
     
}
.blue{
    background-color: blue;
     
}
.yellow{
    background-color: yellow;
     
}
.purple{
    background-color: purple;
}
.gold{
    background-color: gold;
}
.bold{
    font-weight: bold;
}